node_modules

*.cpp
*.hpp
*.asm
*.dat
Makefile

*.wasm
*.js

*.r1cs
*.sym

*.wtns
*.ptau
*.zkey

*.py

proof.json
public.json
verification_key.json

node_modules
.env
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts


node_modules
.env
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts

