name: Performance Check
on:
  push:
    branches: [ master ]

jobs:
  bench:
    name: Benchmark
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Update submodules
        id: update
        run: git submodule update -i
      - uses: actions-rs/cargo@v1
        with:
          command: bench
